/*SMALL PHONES TO SMALL TABLETS (IPAD-PHONES)-481 TO 767PX PIXELS*/
@media only screen and (max-width:767px) {
    .video-text p {
        font-size: 15px;
    }
}

/*SMALL-PHONES FROM LESS or EQUAL TO 480 PIXEL*/
@media only screen and (max-width:480px) {
    .intro {
        padding-top: 100px
    }
    .jumbotron {
        height: auto;
    }

    .jumbotron h1 {
        font-size: 40px;

        line-height: 50px;
        margin-bottom: 50px;
    }

    .jumbotron h2 {
        font-size: 30px;
    }

    .banner-bottom-text p {
        font-size: 10px;
    }

   .video-text2 p {
       font-size: 15px;
        padding-left: 05px
    }

    .jumbotron2 {
        height: auto;
    }

    .Work-Product h3 {
        font-size: 20px;
    }

    .Security_Cols h3 {
        font-size: 30px;
    }

    .jumbotron3 {
        background-image: none;
    }

    .navbar-toggler .fa {
        font-size: 16px;
    }

    .navbar-nav a {
        margin: 0 15px;
        padding: 3px;
        font-size: 10px;
    }

    .Video_Container {
        display: block;
    }

    .player_container2 {
        width: 100%
    }
}

@media only screen and (max-width:320px) {
    .Work-Product h3 {
        font-size: 30px;
    }

    .Litigation_Support h3 {
        font-size: 20px;
    }

    .Security_Cols h3 {
        font-size: 20px;
    }

    .jumbotron3 {
        background-image: none;
    }

    .navbar-toggler .fa {
        font-size: 16px;
    }

    .navbar-nav a {
        margin: 0 15px;
        padding: 3px;
        font-size: 10px;
    }

  .video-text2 p {
       font-size: 15px;
      padding-left: 05px
    }

    .intro {
        padding-top: 100px
    }

    .Video_Container {
        display: block;
    }

    .player_container2 {
        width: 100%
    }
    
}
