/*-------------------------------------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: merriweatherBold;
    src: url(Merriweather-Bold.ttf)
}

@font-face {
    font-family: proximanovaRegular;
    src: url(ProximaNova-Regular.otf);
}

@font-face {
    font-family: proximanovaBold;
    src: url(ProximaNovaBold.otf);
}


@font-face {
    font-family: playfairdisplayRegular;
    src: url(PlayfairDisplay-Regular.ttf);
}



* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    zoom: 1
}

html,
body {
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden
}

/*--------------------------------------------------------------------------------------------------*/
.intro {
    padding-top: 120px
}

.jumbotron {
    background-image: url(../Assets/banner2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.jumbotron h1 {
    font-size: 60px;
    line-height: 1.0;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 50px;
}

.ml3 {
    font-weight: 900;
    font-size: 3.5em;
}

.jumbotron h2 {
    font-size: 60px;
    line-height: 1.0;
    font-family: 'Playfair Display', serif;

}

.Header-button {
    background-color: black;
    color: white;
    padding: 10px 10px;
    border: 1px solid black;
    max-width: 230px;
    width: 100%;
    min-height: 60px;
    border-radius: 5px;
    font-family: proximanovaBold;
    letter-spacing: 2.1px;
    font-size: 20px
}

.Header-button:hover {
    background: none;
    color: white;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0px;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    z-index: 999;
}

.navbar-nav a {
    margin: 0 25px;
    color: #121212;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: proximanovaBold;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler .fa {
    color: black;
    font-size: 26px;

}

.nav-link:hover {
    font-size: 600;
    border-bottom: 1px solid black;
    margin-bottom: 1px;
}

.banner-bottom-text {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 10px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.banner-bottom-text p {
    margin: 0px;
    font-size: 20px;
    color: red;
    font-family: proximanovaRegular;

}

/*--------------------------*/
.Section_videoTExt {}

.Video_Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px
}

.player_container2 {
    width: 50%
}

.video-text2 p {
    font-size: 35px;
    font-family: playfairdisplayRegular;
    color: #090909;
    line-height: 40px;
    padding-left: 25px
}

/*--------------------------------------------------------------------------------------------------------------*/

.long_copy::before,
.long_copy::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 20px auto;
}

.long_copy {
    background-color: white;
    margin-top: 30px;
    font-family: 'Kanit';
}

.long_copy_button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0px solid black;
    margin-bottom: 30px;
    min-height: 60px;
    max-width: 230px;
    width: 100%;
    font-family: proximanovaBold;

}

.long_copy_button:hover {
    background: none;
    color: black;
    border: 1px solid black;
}

.Main_long_copy_button {
    text-align: center;
}

/*---------------------------------------------------------------------------------------------------------------------*/
.Main_GridImage {
    background-color: black;
    padding: 40px 0;
}

.Main_GridImage_Header {
    color: white;
    padding: 20px;
    font-size: 40px;
}

.Main_GridImage_Header h3 {
    font-family: playfairdisplayRegular;
}

.Main_GridImage_Header p {
    margin-bottom: 70px;
    font-size: 18px;
    font-family: proximanovaRegular;

}

.GridImage {
    width: 85%;
    margin: auto;
    background-color: white;
}

.GridImage h3 {
    font-family: playfairdisplayRegular;
    text-decoration: underline;
}

.GridImage1 {
    width: 250px
}

.GridImage li {
    margin-left: 15px;
    font-family: proximanovaRegular;
    font-size: 15px;

}

/*-----------------------------------PATENT PENDING TECHNOLOGY-------------------------------------------------------------------------------------------------*/
.jumbotron2 {
    background-image: url(../Assets/call-bg-banner.jpg);
    background-size: auto;
    background-position: center;
    border-radius: 0px;
    background-repeat: no-repeat
}

.jumbotron2-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0px solid black;
    margin-top: 10px;
    min-height: 60px;
    max-width: 230px;
    width: 100%;
    font-family: 'ProximaNovaBold';
}

.jumbotron2-button:hover {
    background: none;
    color: black;
    border: 1px solid black;
}

.intro2 {}

.intro2 p {
    font-size: 20px;
    font-family: proximanovaBold;
    letter-spacing: 0.4px;
    font-weight: bold;
}

.intro2 img {
    width: 100%;
    max-width: 700px;
    margin: auto;
    display: block;
}

/*----------------------------------------WORK PRODUCT------------------------------------------------------------------------------------------------------------------------*/
.Work-Product {
    background-color: #ededed;
    padding: 60px 0px;
}

.Work-Product h3 {
    color: #090909;
    font-family: playfairdisplayRegular;
    font-size: 40px;
}

.Work-Product h4 {
    font-size: 20px;
}

.box {
    border: 1px solid #ffffff;
    background-color: white;
    margin-bottom: 00px;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px #bababa;
    box-shadow: 5px 5px 5px 5px #bababa;
    margin-top: 50px;
    height: 100%
}

.box h4 {
    margin: 15px 0px;
    font-size: 25x;
    font-family: proximanovaBold;

}

.box p {
    font-size: 15px;
    font-family: proximanovaRegular;
}

.jumbotron3-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black
}

/*------------------------------------------------------------------------------------------------------------------*/
.Litigation_Support {
    background-color: black;
    color: white;
    padding: 60px 0px;
}

.Litigation_Support h3 {
    font-size: 30px;
    font-family: playfairdisplayRegular;
}

.Litigation_Support p {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 60px;
    margin-top: 30px;
    font-family: proximanovaRegular;
}

.Litigation_Support-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'ProximaNovaBold';
}

.Litigation_Support-button:hover {
    background: none;
    color: white;
    border: 1px solid white;
}

/*----------------------------------------------------------------------------------------------------------*/
.Security_Cols {
    background-color: #ededed;
    padding: 60px 0px;

}

.Security_Cols h3 {
    color: #090909;
    font-family: playfairdisplayRegular;
    font-size: 40px;
    margin-bottom: 00px;
    padding: 20px
}

.box2 {
    border: 1px solid #ffffff;
    background-color: white;
    margin-bottom: 00px;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 5px #bababa;
    box-shadow: 5px 5px 5px 5px #bababa;
    margin-top: 50px;
    height: 100%
}

.box2 img {
    width: 100px;
    margin-top: 45px
}

.box2 p {
    font-size: 15px;
    font-family: proximanovaRegular;

}

.box2 h4 {
    font-family: merriweatherBold;
    margin: 15px 0px;
    font-size: 30px
}

/*----------------------------------------------------------------*/
.jumbotron3 {
    background-image: url(../Assets/laptop2-.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.pricing_box {
    padding: 00px;
    margin-top: 45px;


}

.pricing_box h5 {
    font-size: 40px;
    margin-bottom: 30px;
    font-family: playfairdisplayRegular;
}

.pricing_box p {
    font-size: 25px;
    padding: 5px;
    font-weight: 400;
    font-family: proximanovaRegular;
}

.pricing_box h6 {
    font-size: 30px;
    padding: 5px;
    font-weight: 500;
    font-family: merriweatherBold;
}

.pricing_box li {
    padding: 5px;
    font-family: proximanovaRegular;
    font-size: 20px;
}

.jumbotron3-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 25px;
    font-family: 'ProximaNovaBold';
}

.jumbotron3-button:hover {
    background: none;
    color: black;
    border: 1px solid black;
}

/*--------------------------------------*/
.Schedule_Depo {
    position: relative;
    padding: 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(#1c1c1c)), url(../Assets/banner2.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 60px;
}

.Schedule_Depo_Main {
    max-width: 530px;
    margin: auto
}


.title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 2em;
    line-height: 38px;
    margin-bottom: 50px;
    color: White;
    font-family: playfairdisplayRegular;
}

.form_box {

    margin-bottom: 30px;

}

.ContactForm_Btn {
    background-color: white;
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'ProximaNovaBold';
}

.ContactForm_Btn:hover {
    background: none;
    color: white;
    border: 1px solid white;
}

input[type=text]:focus {
    background: none;
    color: white;
      font-size: 20px
}

input[type=text],
input[type=number] {
    background: none;
    border-radius: 0px;
    border: 1px solid white;
    font-family: proximanovaRegular;
    font-size: 20px
}

.black-input {
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 60px;
    border-radius: 0px;
    font-size: 18px;
    font-family: proximanovaRegular;
}


/*00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
