@font-face {
  font-family: 'Playfair Display', serif;
  src: url(PlayfairDisplay-VariableFont_wght);
}
    
@font-face {
 font-family: 'Merriweather', serif;
  src: url(Merriweather-Bold);
}

@font-face {
font-family: 'Abril Fatface';
  src: url(AbrilFatface-Regular);
}

@font-face {
font-family: 'georgia';
  src: url(georgia.woff);
}

@font-face {
font-family: 'Kanit';
  src: url(Kanit-Light);
}
